[submodule "Tests"]
	path = Tests
	url = https://github.com/rafaelvaloto/Gamepad-Core-Tests.git
[submodule "Libs/miniaudio"]
	path = Libs/miniaudio
	url = https://github.com/rafaelvaloto/Gamepad-Core-Audio.git
